body{
    background-color: hsl(226, 43%, 10%);
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 45%; 
    color: aliceblue;
}

.attribution a { 
    color: rgb(0, 204, 255); 
}

.container{
    width: 860px;
    height: 340px;
    margin-top: 15%;
    margin-left: 18%;
    background-color: transparent;
    border-radius: 15px;
    display: flex;
}

.content{
    display: grid;
    grid-template-columns: auto auto auto;
}

.wcont, .pcont, .scont, .econt, .socont, .secont{
    margin-left: 20px;
    width: 200px;
    height: 160px;
    background-color: rgb(235, 158, 65);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    font-weight: 500;
}

.wcont{
    background-image: url(images/icon-work.svg);
    background-repeat: no-repeat;
}

.work, .play, .study, .exercise, .social, .selfcare{
    background-color: hsl(235, 46%, 20%);
    width: 200px;
    height: 125px;
    bottom: 0;
    border-radius: 15px;
    position: absolute;
}

.econt, .socont, .secont{
    margin-top: 20px;
}

h1, h2{
    color: aliceblue;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: 300;
}

h5, h6{
    color: aliceblue;
    font-weight: 400;
    margin-left: 20px;
    letter-spacing: 2px;
}

h2{
    margin-top: 0px;
}

.user>p{
    margin-bottom: 3px;
}

p{
    margin-left: 20px;
    color: rgb(125, 122, 168);
    font-size: small;
}

button{
    background-color: transparent;
    border: 0cap;color: rgb(125, 122, 168);
    margin-left: 20px;
    margin-top: 10px;
    transition: 0.5s;
    position: relative;
}

button:hover{
    color: aliceblue;
}

button:focus{
    color: aliceblue;
}

/*
.special{
    color: aliceblue;
}
button:hover::after{
    background-color: #d3d3d379;
}
button::after{
    content: '';
    position: absolute;
    background-color: #d3d3d300;
    height: 1px;
    width: 90%;
    left: 5%;
    bottom: -2px;
    transition: 0.7s;
}
*/

.user{
    background-color: rgb(84, 58, 201);
    border-radius: 15px;
    width: 200px;
    height: 240px;
}

.main{
    background-color: hsl(235, 46%, 20%);
    width: 200px;
    height: 340px;
    border-radius: 15px;
}

.profilephoto{
    margin: 10%;
    margin-bottom: 0px;
    width: 60px;
    border: 2px solid aliceblue;
    border-radius: 100%;
}